In [8]:
# print() is used to display the output.
print("Hello World")

Hello World

In [2]:
var1 = 30
print(var1)
var2 = 20
print(var2)

30
20

In [9]:
Addition = var1 + var2
Substraction = var1 - var2
Multipication = var1 * var2
Divide = var1 / var2
Modulous = var1 % var2
print(Addition) 
print(Substraction)
print(Multipication)
print(Divide)
print(Modulous)

50
10
600
1.5
10

In [12]:
# type() is used declare the data type of the variable.
type(Divide)

float

In [20]:
# Comparison Operator => To check equality of values
'''
== means "equal to"
!= means "not equal to"
< means "less than"
> means "greater than"
<= means "less than equal to"
'''
x = 10
y = 20
z = 10
print(x == z)                                
print(x == y) 
print(x != y)                                
print(x < y)                                 
print(y > z)                                 
print(x <= y)                                
print(y >= z) # >= means "greater than equal to"

True
False
True
True
True
True
True

In [25]:
'''
Logical Operator
"and" means "both logic is true"
"or" means "any one logic is true"
"not" means "opposite" 
'''

x = 10
y = 15
z = 20
print(x < y and x < z)
print(x < y or x > y)
print(not(x < y))

True
True
False

In [28]:
# Conditional Statement --> if

x = 5
y = 4

if x > 5:
    print("x is greater than y")
else:
    print("x is not greater than y")

x is not greater than y
x is amaller than y

In [29]:
# Multiple Conditional Statement --> if... elif... else
x = 5
y = 6
z = 7
if x > y:
    print("y is greater than z")
elif x > z:
    print("y is less than z")
else:
    print("x is less than y and z")

x is less than y and z

In [31]:
# Taking input from the User. Note: By default user input is always a string data type. 
name = input("Enter your name: ")
print(name)

Enter your name: Warun Kumar
Warun Kumar

In [32]:
print("Your name is "+name)

Your name is Warun Kumar

In [34]:
# Type Casting --> Convert the string data type into integer data type
type(name)

str

In [40]:
DOB = input("Enter your Birth Year ")
DOB_1 = int(DOB)
age = 2024 - DOB_1
if age >= 18:
    print("You can Vote")
else:
    print("You can not Vote")

Enter your Birth Year 2010
You can not Vote

In [ ]:
# Data Structure
'''
Array --> Collection of elements.
Major type of Arrays:
1. List
2. Tuple
3. Set
4. Piction

Important term in Array
Ordered --> Ascending or Descending ordr
Unordered -- No order
Indexed --> The index indicates the position of the element within the array (starting from 1)
Unindexed -->
Mutable --> All
Immutable --> Does not allow any change in the allocated memory.
'''

In [1]:
# List - It is Ordered, Indexed and Mutable
list_1 = [1,2,3,"A","B","C","XYZ",True]
print(list_1)

[1, 2, 3, 'A', 'B', 'C', 'XYZ', True]

In [4]:
Fruit = ["Apple","Orange","Banana","Guava","Strawberry"]
print(Fruit)

['Apple', 'Orange', 'Banana', 'Guava', 'Strawberry']

In [59]:
# To print a value from the list by index.
print(Fruit[1])

Orange

In [8]:
# To access a range of element in the array.
print(Fruit[0:2]) # End index will print the element -1 {Example: [0:4] will show 0,1,2,3}
print(Fruit[:3])
print(Fruit[1:])

['Apple', 'Orange']
['Apple', 'Orange', 'Banana']
['Orange', 'Banana', 'Guava', 'Strawberry']

In [9]:
# Replace an element from the list of specific index.
Fruit[2] = "Grapes"
print(Fruit)

['Apple', 'Orange', 'Grapes', 'Guava', 'Strawberry']

In [10]:
# Append (Add) an element in the List
Fruit.append("Dragon Fruit")
print(Fruit)

['Apple', 'Orange', 'Grapes', 'Guava', 'Strawberry', 'Dragon Fruit']

In [18]:
# Insert an element in the list at a specific index.
Fruit.insert(2,"Banana")
print(Fruit)

['Apple', 'Orange', 'Banana', 'Banana', 'Grapes', 'Guava', 'Strawberry', 'Dragon Fruit']

In [17]:
Fruit.remove("Grapes")
print(Fruit)

['Apple', 'Orange', 'Banana', 'Grapes', 'Guava', 'Strawberry', 'Dragon Fruit']

In [20]:
del Fruit[2]
print(Fruit)

['Apple', 'Orange', 'Banana', 'Grapes', 'Guava', 'Strawberry', 'Dragon Fruit']

In [21]:
#Tuple --> Ordered, Indexed & Immutable
Tuple_1 = (1,2,3,"A","B","C","XYZ",True)
print(Tuple_1)

(1, 2, 3, 'A', 'B', 'C', 'XYZ', True)

In [22]:
Game = ("Cricket","Football","Badminton")
print(Game)

('Cricket', 'Football', 'Badminton')

In [25]:
Temp_List_Game = list(Game)
print(Temp_List_Game)

['Cricket', 'Football', 'Badminton']

In [26]:
# Set --> Unordered, Unindexed, Immutable and No duplicate element.
Set1 = {1,2,3,"A","B","C","XYZ",True}
print(Set1)

{'XYZ', 1, 2, 3, 'A', 'C', 'B'}

In [28]:
setFruit = {'Apple', 'Orange', 'Banana', 'Grapes', 'Guava',"Apple"} #No duplicate value stored
print(setFruit)

{'Banana', 'Guava', 'Orange', 'Grapes', 'Apple'}

In [29]:
# Cast set into List
templistFruit = list(setFruit)
print(templistFruit)

['Banana', 'Guava', 'Orange', 'Grapes', 'Apple']

In [31]:
# Adding an element to the list.
templistFruit.append("Dragon Fruit")
print(templistFruit)

['Banana', 'Guava', 'Orange', 'Grapes', 'Apple', 'Dragon Fruit']

In [32]:
# Cast list into Set
setFruit = set(templistFruit)
print(setFruit)

{'Guava', 'Banana', 'Orange', 'Grapes', 'Dragon Fruit', 'Apple'}

In [33]:
# Adding an element to the Set.
setFruit.add("Mango")
print(setFruit)

{'Guava', 'Banana', 'Mango', 'Orange', 'Grapes', 'Dragon Fruit', 'Apple'}

In [34]:
# Removing an element from the set.
setFruit.remove("Orange")
print(setFruit)

{'Guava', 'Banana', 'Mango', 'Grapes', 'Dragon Fruit', 'Apple'}

In [36]:
# Dictionary --> Mutable, Ordered (Unordered only for Python v 3.6 and below), No duplicate element
dict1 = {
    "ID":100,
    "Name":"Warun",
    "Address":"Noida",
    "Department":"HR"
}
print(dict1)

{'ID': 100, 'Name': 'Warun', 'Address': 'Noida', 'Department': 'HR'}

In [39]:
# Access a value from the Dictionary.
print(dict1["ID"])
print(dict1["Name"])

100
Warun

In [40]:
# Another way to access a value from the Dictionary using get().
print(dict1.get("Address"))

Noida

In [41]:
# Access the keys from the Dictionary.
print(dict1.keys())

dict_keys(['ID', 'Name', 'Address', 'Department'])

In [42]:
# Access the values from the Dictionary.
print(dict1.values())

dict_values([100, 'Warun', 'Noida', 'HR'])

In [43]:
# To change the value of a key in the Dictionary.
dict1["Department"] = "US Staffing"
print(dict1)

{'ID': 100, 'Name': 'Warun', 'Address': 'Noida', 'Department': 'US Staffing'}

In [50]:
# To add a new key pair value into the Dictionary.
dict1["Manager"] = "Deepjyoti"
print(dict1)

{'ID': 100, 'Name': 'Warun', 'Address': 'Noida', 'Department': 'US Staffing', 'Manager': 'Deepjyoti'}

In [46]:
# To remove the key value pair from the Dictionary
dict1.pop("Manager")
print(dict1)

{'ID': 100, 'Name': 'Warun', 'Address': 'Noida', 'Department': 'US Staffing'}

In [52]:
# Another way to delete the key pair value from the Dictionary
del dict1["Manager"]

In [53]:
print(dict1)

{'ID': 100, 'Name': 'Warun', 'Address': 'Noida', 'Department': 'US Staffing'}

In [7]:
# 03-02-2024
# String Data Type
varx = "Welcome to Python Programming"
type(varx)
print(varx[0:7])
print(varx[0])

Welcome
W

In [6]:
# To find a straing value in a large string value.
print("Python1" in varx)

False

In [9]:
var2 = "One"
print(len(var2))

3

In [14]:
newlist = ["apple","orange","kiwi","banana","strawberry"]
print(newlist[4][0:5])

straw

In [42]:
# String Functions
x = "waRun"
y = "   Warun"
x = "Kumar"

#len()
print(len(x))

# upper()
print(x.upper())

# lower()
print(x.lower())

# strip()

print(y.strip())

# replace()
print(x + " is replaced to " + x.replace("R","r"))

5
KUMAR
kumar
Warun
Kumar is replaced to Kumar

In [41]:
# concatenate
x = "Warun"
y = "Kumar"

z = x + " " + y
print(z)

Warun Kumar

In [43]:
# split()
x = "Warun Kumar"
temp = x.split(" ")
print(temp)
print(x.split(" "))
print(temp[1])

['Warun', 'Kumar']
['Warun', 'Kumar']
Kumar

In [46]:
var = "Welcome to \"India\""    # \ --> is an escape character.
print(var)

Welcome to "India"

In [47]:
# Looping Statement
for i in range(1,5):
	print(i)

1
2
3
4

In [49]:
for i in range(1,10,2):
	print(i)

1
3
5
7
9

In [58]:
for i in range(1,20):
    if(i%2==0):
    	print(i)

2
4
6
8
10
12
14
16
18

In [60]:
list = ["apple","orange","kiwi","banana","strawberry"]
for i in list:
    print(i.upper())

APPLE
ORANGE
KIWI
BANANA
STRAWBERRY

In [63]:
for i in range(0,len(list)):
	print(list[i].upper())

APPLE
ORANGE
KIWI
BANANA
STRAWBERRY

In [67]:
# Write a for loop to print the first 3 character of each element.
list = ["apple","orange","kiwi","banana","strawberry"]
for i in list:
    print(i[0:3])

app
ora
kiw
ban
str

In [69]:
tuple = ("apple","orange","kiwi","banana","strawberry")
for i in tuple:
	print(i)

apple
orange
kiwi
banana
strawberry

In [71]:
set = {"apple","orange","kiwi","banana","strawberry"}
for i in set:
    print(i)

apple
orange
strawberry
kiwi
banana

In [74]:
dict = {
    "ID" : 100,
    "Name" : "Warun",
    "Location" : "Noida",
    "Department" : "US Staffing"
}
for x in dict:
    print(x," ",dict[x])

ID   100
Name   Warun
Location   Noida
Department   US Staffing

In [75]:
print(dict.keys())

dict_keys(['ID', 'Name', 'Location', 'Department'])

In [76]:
print(dict.values())

dict_values([100, 'Warun', 'Noida', 'US Staffing'])

In [78]:
var = "Warun"
for x in var:
    print(x)

W
a
r
u
n

In [81]:
for x in range(0,len(var)):
	print(var[x])

W
a
r
u
n

In [83]:
#Exercise:
Emp1 = {"Name": "Johnny", "Age": 32, "salary":26000,"Company":"TCS"}
Emp2 = {"Name": "Ron", "Age": 28, "salary":20000,"Company":"Infosys"}
Emp3 = {"Name": "John", "Age": 25, "salary":46000,"Company":"TCS"}
Emp4 = {"Name": "Maria", "Age": 30, "salary":30000,"Company":"TCS"}
Emp5 = {"Name": "Regina", "Age": 19, "salary":10000,"Company":"Wipro"}

list_of_employees = [Emp1,Emp2,Emp3,Emp4,Emp5]
Emp3["Company"] = "Accenture"
print(list_of_employees)

[{'Name': 'Johnny', 'Age': 32, 'salary': 26000, 'Company': 'TCS'}, {'Name': 'Ron', 'Age': 28, 'salary': 20000, 'Company': 'Infosys'}, {'Name': 'John', 'Age': 25, 'salary': 46000, 'Company': 'Accenture'}, {'Name': 'Maria', 'Age': 30, 'salary': 30000, 'Company': 'TCS'}, {'Name': 'Regina', 'Age': 19, 'salary': 10000, 'Company': 'Wipro'}]

In [96]:
for x in list_of_employees:
	x["salary"] = 1.1 * x["salary"]
	x["salary"] = round(x["salary"],2)
	print(x)

{'Name': 'Johnny', 'Age': 32, 'salary': 34606.0, 'Company': 'TCS'}
{'Name': 'Ron', 'Age': 28, 'salary': 26620.0, 'Company': 'Infosys'}
{'Name': 'John', 'Age': 25, 'salary': 61226.0, 'Company': 'Accenture'}
{'Name': 'Maria', 'Age': 30, 'salary': 39930.0, 'Company': 'TCS'}
{'Name': 'Regina', 'Age': 19, 'salary': 13310.0, 'Company': 'Wipro'}